<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAuth Tutorials</title>

    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="bg-red-500 px-4 py-2">
      <ul class="max-w-screen-lg mx-auto my-0 p-0">
        <li class="inline-block m-0 my-2 list-none">
          <a
            href="/"
            class="bg-red-300 block p-2 no-underline text-white text-lg"
            >Homepage</a
          >
        </li>
      </ul>
    </nav>

    <header class="max-w-screen-lg mx-auto my-5 px-2 py-0 text-gray-800">
      <h1 class="text-6xl">OAuth Tutorials</h1>
      <h2 class="text-4xl">Homepage</h2>
    </header>

    <main class="max-w-screen-lg mx-auto my-5 px-2 py-0 text-gray-800">
      <p>OAuth Tutorials by net ninja + Typescript!!</p>
    </main>
  </body>
</html>
